.Korean-menu-board{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu_list{
    padding: 0;
}
.menu_list_item{
    margin: 20px;
    width:500px;
    text-align: center;
    list-style-type: none;
    border: 1px solid black;
}